<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Department</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header><br>
<div class="container order-md-2 mt-5 mb-5">
    <form action="/department" method="post">
        <input type="text" name="title" placeholder="Enter the title" class="form-control" required><br>
        <div class="form-group">
            <a th:text="${validationMessage}"/>
        </div><br>
        <button type="submit" class="btn">Add</button>
    </form>

</div>
<style>
    .btn {
        display: inline-block;
        background: #8C959D;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        padding: 20px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
</style>
<style>
    body {
        margin: 20px;
    }
</style>
</body>
</html>