<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header><br>
<div class="container order-md-2 mt-5 mb-5">
    <form action="/employee" method="post" enctype="multipart/form-data">
        <input type="text" name="firstName" placeholder="Enter the first name" class="form-control" required><br>
        <input type="text" name="secondName" placeholder="Enter the second name" class="form-control" required><br>
        <input type="text" name="thirdName" placeholder="Enter the third name" class="form-control"><br>
        <input type="text" name="position" placeholder="Enter the position" class="form-control"><br>
        <input type="text" name="dateOfBirth" placeholder="Enter the date of birth" class="form-control"><br>
        <input type="text" name="mobilePhone" placeholder="Enter the mobile phone number" class="form-control" required><br>
        <input type="text" name="email" placeholder="Enter the email" class="form-control" required><br>
        <div class="form-group blu-margin">
            <select name="departmentID" class="form-control" required>
                <option value="">Select department</option>
                <option th:each="department : ${departmentList}"
                        th:value="${department.id}"
                        th:text="${department.title}">
                </option>
            </select>
        </div>
        <input type="file" name="file" class="button"><br>
        <button type="submit" class="btn btn-secondary">Add</button>
        <div class="form-group">
            <a th:text="${validationMessage}"/>
        </div>
    </form>
</div>
<style>
    .btn {
        display: inline-block;
        background: #8C959D;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        padding: 20px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
</style>
<style>
    body {
        margin: 20px;
    }
</style>
</body>
</html>