<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header><br>
<div class="container order-md-2 mt-5 mb-5">
    <form th:action="${employee.id} +'/update'" method="post">
        <input type="text" name="firstName" th:value="${employee.getFirstName()}" required><br>
        <input type="text" name="secondName" th:value="${employee.getSecondName()}" required><br>
        <input type="text" name="thirdName" th:value="${employee.getThirdName()}"><br>
        <input type="text" name="position" th:value="${employee.getPosition()}"><br> <!--Потом будет выпадающий список-->
        <input type="text" name="dateOfBirth" th:value="${employee.getDateOfBirth()}"><br>
        <input type="text" name="mobilePhone" th:value="${employee.getMobilePhone()}" required><br>
        <input type="text" name="email" th:value="${employee.getEmail()}" required><br>

        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
        <form th:action="${employee.id} +'/remove'" method="post">
            <button type="submit" class="btn btn-secondary">Delete</button>
        </form>


</div>
</body>
</html>