<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header><br>

<div class="row">
    <form action="/filterByParams" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Filter by name" class="form-control"><br>
        <input type="text" name="position" placeholder="Filter by position" class="form-control"><br>
            <div class="form-group blu-margin">
                <select name="departmentID" class="form-control">
                    <option value="">Select department</option>
                    <option th:each="department : ${departmentList}"
                            th:value="${department.id}"
                            th:text="${department.title}">
                    </option>
                </select>
            </div>
        <div class="row gy-3">
            <button type="submit" class="btn btn-secondary">Search</button>
            <a href="/employee" class="btn">Add new employee</a>
            <a href="/department" class="btn">Add new department</a>
        </div>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Full name</th>
        <th scope="col">Position</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Mobile phone</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
    </tr>
    </thead>
    <tbody>
    <ul th:each="employee : ${employees}">
        <tr>
            <td><div th:text="${employee.getFirstName()} + ' '
            + ${employee.getSecondName()} + ' '
            + ${employee.getThirdName()}"></div></td>
            <td><div th:text="${employee.getPosition()}"></div></td>
            <td><div th:text="${employee.getDateOfBirth()}"></div></td>
            <td><div th:text="${employee.getMobilePhone()}"></div></td>
            <td><div th:text="${employee.getEmail()}"></div></td>
            <td><div th:text="${employee.getDepartmentName()}"></div></td>
            <td><a th:href="${employee.getId()}">Edit</a></td>

        </tr>
    </ul>
    </tbody>
</table>
</div>
<div class="row gy-3">
    <form action="/sortingByName" method="post">
        <button type="submit" class="btn btn-secondary">Filter by first name</button>
    </form><br>
    <form action="/sortingByPosition" method="post">
        <button type="submit" class="btn btn-secondary">Filter by position</button>
    </form>
</div>
<div class="row gy-3" >
    <form action="/export" method="get">
        <button type="submit" class="btn btn-secondary">Export to excel</button>
    </form>
</div>

<style>
    .btn {
        display: inline-block;
        background: #8C959D;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        padding: 20px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
</style>
<style>
    body {
        margin: 20px;
    }
</style>
</body>
</html>