<div th:fragment="header">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                     viewBox="0 0 24 24" focusable="false">
                    <strong>Employee Directory</strong><br>

            </a>
            <form action="/home">
                <button type="submit" class="btn btn-secondary">Home</button>
            </form>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-secondary">Logout</button>
            </form>>
        </div>
    </div>
</div>